In [3]:
import xarray as xr

In [1]:
file1 = 'data/CMIP6/Evaporation including sublimation and transpiration SSP460.nc'

### How to convert NC file to CSV file

In [20]:
nc = xr.open_dataset(file1)
file1_ndf = nc.to_dataframe()
file1_ndf.reset_index(inplace=True)
file1_ndf1 = file1_ndf[(ndf['axis_nbounds']==1)]

In [24]:
file1_ndf1.head()

    lat  lon                time  axis_nbounds time_bounds       evspsbl
1 -90.0  0.0 2015-01-16 12:00:00             1  2015-02-01 -9.172918e-08
3 -90.0  0.0 2015-02-15 00:00:00             1  2015-03-01 -1.285175e-07
5 -90.0  0.0 2015-03-16 12:00:00             1  2015-04-01 -5.179413e-08
7 -90.0  0.0 2015-04-16 00:00:00             1  2015-05-01 -4.540163e-08
9 -90.0  0.0 2015-05-16 12:00:00             1  2015-06-01 -3.005713e-08

In [27]:
file1_ndf_select_cols = ['lat', 'lon', 'time', 'evspsbl']

pdf1 = file1_ndf1[file1_ndf_select_cols]
pdf1.set_index('time')

                      lat    lon       evspsbl
time
2015-01-16 12:00:00 -90.0    0.0 -9.172918e-08
2015-02-15 00:00:00 -90.0    0.0 -1.285175e-07
2015-03-16 12:00:00 -90.0    0.0 -5.179413e-08
2015-04-16 00:00:00 -90.0    0.0 -4.540163e-08
2015-05-16 12:00:00 -90.0    0.0 -3.005713e-08
...                   ...    ...           ...
2100-08-16 12:00:00  90.0  357.5  8.085839e-06
2100-09-16 00:00:00  90.0  357.5  1.180059e-05
2100-10-16 12:00:00  90.0  357.5  1.751463e-05
2100-11-16 00:00:00  90.0  357.5  7.299916e-06
2100-12-16 12:00:00  90.0  357.5  1.027785e-05

[21250944 rows x 3 columns]

In [62]:
file1_ndf1.to_csv("Evaporation including sublimation and transpiration SSP460.csv")