###You may want to use the following examples to import and merge the dataset.

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

Import datasets with country names as the index column

In [3]:
'''dataset1 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 1 - Climate risks', index_col = 'country')
dataset2 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 2 - Sea level change.csv', index_col = 'country')
dataset3 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 3 - Economic & Demographic Indicators.csv', index_col = 'country')
dataset4 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 4 - Emissions & Energy Consumption.csv', index_col = 'country')
dataset5 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 5 - ISSP survey.csv', index_col = 'country')'''

"dataset1 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 1 - Climate risks', index_col = 'country')\ndataset2 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 2 - Sea level change.csv', index_col = 'country')\ndataset3 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 3 - Economic & Demographic Indicators.csv', index_col = 'country')\ndataset4 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 4 - Emissions & Energy Consumption.csv', index_col = 'country')\ndataset5 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 5 - ISSP Survey.csv', index_col = 'country')"

Import datasets

In [9]:
dataset1 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 1 - Climate risks.csv')
dataset2 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 2 - Sea level change.csv')
dataset3 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 3 - Economic & Demographic Indicators.csv')
dataset4 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 4 - Emissions & Energy Consumption.csv')
dataset5 = pd.read_csv('/content/drive/Shareddrives/D4GC/The Challenge/Datasets/Dataset 5 - ISSP survey.csv')

Examine dataset 1

In [10]:
dataset1.head

<bound method NDFrame.head of             country iso_alpha3  region  ... tos sos  sithick
0       Afghanistan        AFG    Asia  ... NaN NaN      NaN
1       Afghanistan        AFG    Asia  ... NaN NaN      NaN
2       Afghanistan        AFG    Asia  ... NaN NaN      NaN
3       Afghanistan        AFG    Asia  ... NaN NaN      NaN
4       Afghanistan        AFG    Asia  ... NaN NaN      NaN
...             ...        ...     ...  ...  ..  ..      ...
265482     Zimbabwe        ZWE  Africa  ... NaN NaN      NaN
265483     Zimbabwe        ZWE  Africa  ... NaN NaN      NaN
265484     Zimbabwe        ZWE  Africa  ... NaN NaN      NaN
265485     Zimbabwe        ZWE  Africa  ... NaN NaN      NaN
265486     Zimbabwe        ZWE  Africa  ... NaN NaN      NaN

[265487 rows x 13 columns]>

In [12]:
# Add a year column for referencing

dataset1['date'] =  pd.to_datetime(dataset1['yearmonth'], infer_datetime_format=True)
dataset1['yearmonth'] = dataset1['date'].dt.to_period('Y')
dataset1.drop('date', axis=1, inplace=True)

Make a list of columns in dataset 1

In [13]:
data1_columns = dataset1.columns.tolist()
data1_columns

['country',
 'iso_alpha3',
 'region',
 'sub_region',
 'yearmonth',
 'tas',
 'sfcwind',
 'pr',
 'prsn',
 'evspsbl',
 'tos',
 'sos',
 'sithick',
 'year']

Examine dataset 2

In [14]:
dataset2.head

<bound method NDFrame.head of       country iso_alpha3  ... pop_hi_tide pop_coast_flood
0     Albania        ALB  ...        0.05            0.06
1     Albania        ALB  ...         NaN             NaN
2     Albania        ALB  ...         NaN             NaN
3     Albania        ALB  ...        0.06            0.09
4     Albania        ALB  ...         NaN             NaN
...       ...        ...  ...         ...             ...
4951    Yemen        YEM  ...         NaN             NaN
4952    Yemen        YEM  ...         NaN             NaN
4953    Yemen        YEM  ...         NaN             NaN
4954    Yemen        YEM  ...         NaN             NaN
4955    Yemen        YEM  ...         NaN             NaN

[4956 rows x 9 columns]>

Make a list of columns in dataset 2

In [15]:
data2_columns = dataset2.columns.tolist()
data2_columns

['country',
 'iso_alpha3',
 'region',
 'sub_region',
 'year',
 'avg_sea_level_change_rate',
 'avg_sea_level_change_value',
 'pop_hi_tide',
 'pop_coast_flood']

Examine dataset 3

In [16]:
dataset3.head

<bound method NDFrame.head of            country iso_alpha3  ... manu_percent_gdp serv_percent_gdp
0      Afghanistan        AFG  ...              NaN              NaN
1      Afghanistan        AFG  ...              NaN              NaN
2      Afghanistan        AFG  ...              NaN              NaN
3      Afghanistan        AFG  ...              NaN              NaN
4      Afghanistan        AFG  ...              NaN              NaN
...            ...        ...  ...              ...              ...
28774     Zimbabwe        ZWE  ...              NaN              NaN
28775     Zimbabwe        ZWE  ...              NaN              NaN
28776     Zimbabwe        ZWE  ...              NaN              NaN
28777     Zimbabwe        ZWE  ...              NaN              NaN
28778     Zimbabwe        ZWE  ...              NaN              NaN

[28779 rows x 13 columns]>

Make a list of columns in dataset 3

In [17]:
data3_columns = dataset3.columns.tolist()
data3_columns

['country',
 'iso_alpha3',
 'region',
 'sub_region',
 'year',
 'population',
 'real_gdp',
 'gdp_per_capita',
 'agri_percent_gdp',
 'exp_percent_gdp',
 'ind_percent_gdp',
 'manu_percent_gdp',
 'serv_percent_gdp']

Examine dataset 4

In [18]:
dataset4.head

<bound method NDFrame.head of            country iso_alpha3  ... energy_per_capita energy_per_gdp
0      Afghanistan        AFG  ...               NaN            NaN
1      Afghanistan        AFG  ...               NaN            NaN
2      Afghanistan        AFG  ...               NaN            NaN
3      Afghanistan        AFG  ...               NaN            NaN
4      Afghanistan        AFG  ...               NaN            NaN
...            ...        ...  ...               ...            ...
11655     Zimbabwe        ZWE  ...          4027.628          2.223
11656     Zimbabwe        ZWE  ...          3385.574          1.889
11657     Zimbabwe        ZWE  ...               NaN            NaN
11658     Zimbabwe        ZWE  ...               NaN            NaN
11659     Zimbabwe        ZWE  ...               NaN            NaN

[11660 rows x 15 columns]>

Make a list of columns in dataset 4

In [19]:
data4_columns = dataset4.columns.tolist()
data4_columns

['country',
 'iso_alpha3',
 'region',
 'sub_region',
 'year',
 'co2',
 'co2_growth_abs',
 'co2_per_capita',
 'share_global_co2',
 'co2_per_gdp',
 'total_ghg',
 'ghg_per_capita',
 'primary_energy_consumption',
 'energy_per_capita',
 'energy_per_gdp']

Examine dataset 5

In [20]:
dataset5.head

<bound method NDFrame.head of              country iso_alpha3    region  ... how_peo  mem_env  care_env
0          Argentina        ARG  Americas  ...       0        0         1
1          Argentina        ARG  Americas  ...       2        0         1
2          Argentina        ARG  Americas  ...       0        0         1
3          Argentina        ARG  Americas  ...       2        0         0
4          Argentina        ARG  Americas  ...       2        0         0
...              ...        ...       ...  ...     ...      ...       ...
10105  United States        USA  Americas  ...       0        0         1
10106  United States        USA  Americas  ...       2        0         0
10107  United States        USA  Americas  ...       2        0         1
10108  United States        USA  Americas  ...       2        0         1
10109  United States        USA  Americas  ...       1        0         1

[10110 rows x 18 columns]>

Make a list of columns in dataset 5

In [21]:
data5_columns = dataset5.columns.tolist()
data5_columns

['country',
 'iso_alpha3',
 'region',
 'sub_region',
 'exag_env',
 'climate_crisis',
 'protect_env',
 'sex',
 'age',
 'educyrs',
 'degree',
 'soc_rank',
 'gov_peo',
 'gov_bus',
 'how_bus',
 'how_peo',
 'mem_env',
 'care_env']

Merging the datasets 2, 3 and 4.

In [22]:
merged_data = dataset2.merge(dataset3, on=['country', 'year'], how='left')
merged_data

      country iso_alpha3_x  ... manu_percent_gdp serv_percent_gdp
0     Albania          ALB  ...         6.211737        48.428285
1     Albania          ALB  ...              NaN              NaN
2     Albania          ALB  ...              NaN              NaN
3     Albania          ALB  ...              NaN              NaN
4     Albania          ALB  ...              NaN              NaN
...       ...          ...  ...              ...              ...
4952    Yemen          YEM  ...              NaN              NaN
4953    Yemen          YEM  ...              NaN              NaN
4954    Yemen          YEM  ...              NaN              NaN
4955    Yemen          YEM  ...              NaN              NaN
4956    Yemen          YEM  ...              NaN              NaN

[4957 rows x 20 columns]

In [23]:
merged_data1 = dataset2.merge(dataset4, on=['country', 'year'], how='outer')
merged_data1

        country iso_alpha3_x  ... energy_per_capita energy_per_gdp
0       Albania          ALB  ...               NaN            NaN
1       Albania          ALB  ...               NaN            NaN
2       Albania          ALB  ...               NaN            NaN
3       Albania          ALB  ...               NaN            NaN
4       Albania          ALB  ...               NaN            NaN
...         ...          ...  ...               ...            ...
16611  Zimbabwe          NaN  ...          4027.628          2.223
16612  Zimbabwe          NaN  ...          3385.574          1.889
16613  Zimbabwe          NaN  ...               NaN            NaN
16614  Zimbabwe          NaN  ...               NaN            NaN
16615  Zimbabwe          NaN  ...               NaN            NaN

[16616 rows x 22 columns]

In [24]:
merged_data2 = dataset3.merge(dataset4, on=['country', 'year'], how='left')
merged_data2

           country iso_alpha3_x  ... energy_per_capita energy_per_gdp
0      Afghanistan          AFG  ...               NaN            NaN
1      Afghanistan          AFG  ...               NaN            NaN
2      Afghanistan          AFG  ...               NaN            NaN
3      Afghanistan          AFG  ...               NaN            NaN
4      Afghanistan          AFG  ...               NaN            NaN
...            ...          ...  ...               ...            ...
28774     Zimbabwe          ZWE  ...               NaN            NaN
28775     Zimbabwe          ZWE  ...               NaN            NaN
28776     Zimbabwe          ZWE  ...               NaN            NaN
28777     Zimbabwe          ZWE  ...               NaN            NaN
28778     Zimbabwe          ZWE  ...               NaN            NaN

[28779 rows x 26 columns]